[[source]]

url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
pytest = "*"
"autopep8" = "*"
pytest-asyncio = "*"


[packages]

python-valve = "*"
quart = "*"
"05d785b" = {file = "https://gitlab.com/pgjones/quart/-/archive/master/quart-master.tar.gz"}
